# SPDX-License-Identifier: GPL-2.0-or-later

[Unit]
Description=RHEL-RT environment details setup
After=syslog.target

## Not a daemon
[Service]
Type=simple
ExecStart=/usr/bin/realtime-setup

[Install]
WantedBy=multi-user.target
